// Copyright (c) 2015-2016, Datalogics, Inc. All rights reserved.
//
// http://dev.datalogics.com/adobe-pdf-library/license-for-downloaded-pdf-samples/
//
// *********************************************************************


//
// GENERAL - Build Locations
//

// Put our PCH's in our BuildResults folder with everything else
SHARED_PRECOMPS_DIR = $(PDFLSDK_SOURCE_TREE_ROOT)/BuildResults/pch

// Relocate the built products path to our build directory based on the root of the
// source tree.  OBJROOT defaults to SYMROOT so objects are located there too.
SYMROOT = $(PDFLSDK_SOURCE_TREE_ROOT)/BuildResults/obj/$(PROJECT_NAME)/$(TARGET_NAME)
OBJROOT = $(SYMROOT)

//
// GENERAL - Packaging
//

// Default to localized.rsrc
PRODUCT_NAME = Localized

//
// GENERAL - Deployment
//

// Place the built biinary in the location specified by DSTROOT
DEPLOYMENT_LOCATION = YES


// GCC

// Prefix header is nothing
GCC_PREFIX_HEADER = ../utils/PDFLPrecompile.pch

// Precompile the prefix
GCC_PRECOMPILE_PREFIX_HEADER = YES


// Prefix header is in the /Samples/utils folder
//REZ_PREFIX_FILE = ../utils/PDFLPrecompile.pch


