// Copyright (c) 2015-2016, Datalogics, Inc. All rights reserved.
//
// http://dev.datalogics.com/adobe-pdf-library/license-for-downloaded-pdf-samples/
//
// *********************************************************************

#include "../../utils/MacSDKConfigurations/Environment.xcconfig"
#include "../../utils/MacSDKConfigurations/Default.xcconfig"

// Common search paths for all targets
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) ../../utils ../../../Include/Headers ../sources

// Compile everything as objective-c++
GCC_INPUT_FILETYPE = sourcecode.cpp.objcpp
